.path-view-container {
    display: flex;
}

.path-view-container > * {
    flex: 1 1 auto;
    padding: 10px;
}

.path-view-container > .pynr-cardbox > .title {
    margin-bottom: 0px;
}

.path-view-container > *:not(:last-child) {
    margin-right: 10px;
}

.path-view-container .md-list {
    padding: 0px;
    padding-left: 10px;
}

.path-view-container .md-list > li {
    list-style: none;
    position: relative;
}

.path-view-container .md-list > li:not(:last-child) {
    border-left: 4px solid silver;
}

.path-view-container .md-list > li:last-child {
    border-left: 4px solid transparent;
}

.path-view-container .md-list > li:before {
    position: absolute;
    content: ' ';
    background-color: white;
    border: 1px solid silver;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    top: -2px;
    left: -8px;
    z-index: 10;
}

.path-view-container .md-list > li > * {
    vertical-align: middle;
}

.path-view-container .md-list > li > span {
    margin-left: 10px;
}

.path-view-container .md-list > li > span > a {
    position: absolute;
    top: -5px;
}